# exclude workspace cache
.obsidian/graph.json
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Exclude consultant specific files "personal"
05*-*Personal/

# Exclude Day Planner directory placed in vault root
Day*Planners/*

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
Z-Obsidian-Example/
Excalidraw/Scripts
latex-snippets/
books/